<library path="src">
  <class name="AutowareRuntimeMonitor" type="autoware_runtime_monitor.autoware_runtime_monitor.AutowareRuntimeMonitor" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying autoware diagnostics topics.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Runtime Monitor</label>
      <icon type="theme">appointment-soon</icon>
      <statustip>A Python GUI plugin for displaying diagnostic information.</statustip>
    </qtgui>
  </class>
</library>
